<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>MEOW</title>
    <link rel='stylesheet' href="stylesheets/style.css">
    <script src="scripts/1.js"></script>
</head>
<body>
    <button onclick="generate_pressed()" id='generate_b' class='first_state'> generate </button>
    <button onclick="back_pressed()" id='back_b' class='second_state'> back </button>
    <button onclick="download_pressed()" id='download_b' class='second_state'> download </button>

    <img src="images/unknown_1.png" alt="mem image" id='mem_image' class='first_state'>
    <img src="images/logo.png" alt="text image" id='dragable_text' draggable='true'>
</body>
</html>