<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>MEOW</title>
    <link rel='stylesheet' href="../public/stylesheets/style.css">
    <script src="../public/scripts/1.js"></script>
    <script src="../public/scripts/html2canvas.js"></script>
</head>
<body>
    <label id="upload-button" class="button-like" class='first_state'>
        <input type="file" id="upload" accept="image/*" onchange="uploadMeme(this.files[0])">
        upload pic
    </label>
    <button onclick="generate_pressed()" id='generate_b' class='first_state'> random pic </button>

    <button onclick="back_pressed()" id='back_b' class='second_state'> back </button>
    <button onclick="downloadResult()" id='download_b' class='second_state'> download </button>

    <img src="../public/images/unknown_1.png" alt="mem image" id='mem_image' class='first_state'>
    <img src="../public/images/logo.png" alt="text image" id='dragable_text' draggable='true'>

    <script>
      function downloadResult(){
        let toSave = connectParts();
        document.body.appendChild(toSave);

        html2canvas(toSave).then(function(canvas) {
          let a = document.createElement('a');
          a.href = canvas.toDataURL("image/jpeg", 0.9).replace("image/jpeg", "image/octet-stream");
          a.download = 'your_meme.jpg';
          a.click();
        });
        document.body.removeChild(toSave);
      }
    </script>
</body>
</html>