<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image-load</title>
</head>
<body>
<div id="meme">
  <svg width="500" height="500"  xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
    <image xlink:href="../images/Doggies.jpg" width="100%" height="100%" id="memePic"></image>
    <image xlink:href="https://www.meme-arsenal.com/memes/2da929de4d4a5141f6e72a9b0c10555c.jpg" id="textPic" width="80%" height="50%" transform="translate(40 260)"></image>
  </svg>
</div>
<button id="download">Download the meme</button>
</body>
<script src="../public/html2canvas.js"></script>
<script>
  function downloadSVG(e){
    let meme = document.createElement('div');
    meme.style.position = 'relative';

    let memePic = document.createElement('img');
    let svgMemePic = document.getElementById('memePic');
    let memePicRect = svgMemePic.getClientRects();
    console.log(memePicRect);
    console.log(svgMemePic.offsetLeft);
    let memePicSource = svgMemePic.getAttribute('xlink:href');
    memePic.src = memePicSource;
    memePic.style.position = 'absolute';
    memePic.width = memePicRect.width;
    memePic.height = memePicRect.height;
    meme.appendChild(memePic);

    let textPic = document.createElement('img');
    let svgTextPic = document.getElementById('textPic');
    let memeTextRect = svgTextPic.getBoundingClientRect();
    let memeTextSource = svgTextPic.getAttribute('xlink:href');
    textPic.src = memeTextSource;
    textPic.style.position = 'absolute';
    console.log(memeTextRect.x - memePicRect.x);
    console.log(typeof (memeTextRect.x - memePicRect.x));
    textPic.style.top = '400px';
    textPic.style.left = memeTextRect.y - memePicRect.y;
    textPic.width = memeTextRect.width;
    textPic.height = memeTextRect.height;
    meme.appendChild(textPic);
    document.body.appendChild(meme);

    html2canvas(meme).then(function(canvas) {
      let img = document.createElement('img');
      img.src = canvas.toDataURL("image/jpg", 0.9);
      document.body.appendChild(img);

      const a = document.createElement('a');
      a.download = 'meme.png';
      a.href = canvas.toDataURL("image/jpg", 0.9);
      a.dispatchEvent(new MouseEvent('click'));
    });
  }

  const downloadPNG = document.querySelector('#download');
  downloadPNG.addEventListener('click', downloadSVG);
</script>
</html>