<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../public/stylesheets/light.min.css">
</head>
<body>
    <div id="app">
        <h1>Create Images from Text</h1>
        <form>
            <label>Enter text:
                <input type="text" id="text-input">
            </label>
            <label>Font:
                <select id="font-select">
                    <option>Tahoma</option>
                    <option>Great Vibes</option>
                    <option>Georgia</option>
                    <option>EB Garamond</option>
                    <option>Jost</option>
                    <option>Pattaya</option>
                    <option>Playfair Display</option>
                    <option>Roboto</option>
                </select>
            </label>
            <button type="button" id="generate-btn">Generate</button>
        </form>
        <div id="image-wrapper">
            <canvas id="canvas" width="300" height="150"></canvas>
        </div>
    </div>
    <script src="../routes/index_very_bad.js"></script>
</body>
</html>