body {
  background-image: url(../images/background1.jpg);
}


button, .button-like {
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 150px;
  height: 100px;
  border: 5px solid #0cb2a1;
  background: #43e1d7;
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  box-shadow: 15px 15px 50px rgba(0,0,0,0.2);
  animation: anim-button 10s infinite;
  font: italic small-caps bold 20px cursive;
  color: #014941;
  font-weight: 1200;
  position: absolute;
}

#upload_b_button {
  visibility: hidden;
}

@keyframes anim-button {
  0% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    box-shadow: 15px 15px 50px rgba(0,0,0,0.2);
  }
  25% {
    border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
  }
  50% {
    border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
    box-shadow: -10px -5px 50px rgba(0,0,0,0.2);
  }
  75% {
    border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
  }
}
/*#endregion*/

/*#region Положение кнопочек*/
#generate_b, #upload_b {
  top: calc(50% - 42px);
  display: inline-block;
}

#download_b, #back_b {
  /*bottom: 10px; !*calc(10%);*!*/
  margin-top: 15px;
  display: none;
}

#download_b, #upload_b {
  left: calc(50% - 160px);
}

#back_b, #generate_b {
  left: calc(50% + 10px);
}
/*#endregion*/

/*#region Состояния*/
.second_state {
  display:none
}
.first_state {
}
/*#endregion*/

.draggable {
  width: 347px; /*длина изначальной текстовой картинки*/
  height: 71px; /*высота изначальной текстовой картинки*/
  /*background: #0cb2a1; !*цвет для дебага*!*/
  position: relative;
  top: -360px; /*сдвижка на высоту картинки*/
}

.draggable.dragging {
  user-select: none;
}

.text_img {
  pointer-events: none;
  margin-top: -15px;
  /*margin-left: -5px;*/
}

.dragger {
  height: 0px;
}

.dragger::before {
  content: "";
  display: inline-block;
}

.div_for_images {
  margin-top: 15px;
  border: 5px solid #0cb2a1;
  margin-left: auto;
  margin-right: auto;
  background-color: #11bea7;
}

#app {
  margin-top: 15px;
  display: none;
  height: 200px;
  width: 640px;
  background-color: #43e1d7;
  border: 5px solid #0cb2a1;
}

.editor-block {
  margin-left: auto;
  margin-right: auto;
}

#meme-container {
  width: inherit;
  height: inherit;
}