body {
  margin: 0;
  background: linear-gradient(to left, #F96E46, #340068, #00E8FC);
  background-size: 300% 100%;
  background-position-x: 50%;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;

  --border-color: #0B7481FF;
  --text-background-color: #A5E4EC;
  --form-light-color: #E8F0FEFF;
  --additional-text-color: #CCFFE6FF;
  --text-color: #014941FF;
  --shadow-color: #00000033;
  overscroll-behavior: contain;
}

/*#region Buttons*/
.page-button {
  align-items: center;
  justify-content: center;
  margin: 10px 20px;
  width: 140px;
  height: 80px;
  border: 5px solid var(--border-color);
  background: var(--text-background-color);
  border-radius: 30%;
  box-shadow: 5px 10px 50px var(--form-light-color);
  font: italic small-caps bold 20px cursive;
  color: var(--text-color);
  padding: 0 5px;
  cursor: none;
}

.page-button:hover {
  box-shadow: none;
}

.cursor {
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid 2px var(--text-background-color);
  pointer-events: none;

  /*Не нужно вроде*/
  transition: transform .3s ease,
  background .3s ease,
  border-color .3s ease;
}

.page-button:hover ~ .cursor {
  mix-blend-mode: screen;
  transform: scale(1.5);
  cursor: none;
  background: var(--additional-text-color);
  border-color: var(--border-color);
}

.page-button:focus-within {
  box-shadow: none;
  background-color: var(--border-color);
  color: var(--text-background-color);
}

.page-button:focus, .page-button:active {
  outline-width: 0;
  box-shadow: none;
  background-color: var(--border-color);
  color: var(--text-background-color);
}

input[type="file"] {
  opacity: 0;
}

#upload-b {
  left: -6px;
  top: -76px;
  width: 120px;
  height: 70px;
  border-radius: 30%;
  display: inline-flex;
}

#upload-b-button {
  width: 0;
}

#next-b {
  left: auto;
}

#start-buttons {
  top: calc(50% - 50px);
  position: absolute;
  left: 0;
  right: 0;
}

#editor-page-buttons {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
/*#endregion*/

/*#region Form for text generating*/
#text-generator-form {
  display: contents;
}

#text-generator-form form {
  margin: 10px auto;
}

.form-content {
  list-style-type: none;
  width: 80%;
  margin: 0 auto;
}

textarea {
  resize: vertical;
}

#generated-text ul li {
  margin: 10px 0;
}

.form-btn {
  border: 1px solid var(--text-color);
  background: var(--form-light-color);
}

.form-btn:active {
  background-color: var(--border-color);
  color: var(--text-background-color);
}

#generate-btn, #next-b {
  font: italic small-caps bold 18px cursive;
  margin: 20px auto;
  padding: 8px 30px;
  transition: .4s;
}

#generate-btn {
  max-width: 90%;
}

#text-list {
  list-style-type: none;
}

#text-list li {
  background-color: var(--form-light-color);
  text-align: left;
}

ul {
  padding-inline-start: 0;
}
li {
  text-align: left;
}

.text-pointer {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}

.cross-btn {
  border: 0;
}

.cross-btn:hover .cross-line, .cross-btn:active .cross-line {
  background-color: var(--border-color);
}

.cross-line {
  position: relative;
  left: 3px;
  content: ' ';
  height: 25px;
  width: 2px;
  background-color: #333;
}

.first-line {
  transform: rotate(45deg);
  bottom: 4px;
}

.second-line {
  transform: rotate(-45deg);
  bottom: 29px;
}

.text-content {
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  text-overflow: ellipsis;
  max-width: calc(100% - 115px);
}

.form-field {
  display: inline-block;
  width: calc(100%);
}

.form-field input, select {
  background-color: var(--form-light-color);
}

input#size-input, input#text-input {
  width: calc(100% - 8px);
}

#size-input:invalid {
  border-color: red;
  border-width: 2px;
  background-color: rgba(252, 203, 203, 0.9);
}

input#text-color {
  width: calc(100% - 6px);
}

select#font-select {
  width: calc(100% - 2px);
}

.form-field {
  box-sizing:content-box;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  margin: 5px 0;
  font-size: 16px;
  border: 1px solid var(--border-color);
  color: var(--text-color);
  background: var(--form-light-color);
}

#text-color {
  height: 50px;
  padding: 0;
}

/*#endregion*/

/*#region States*/
.second-state {
  visibility: hidden;
}
/*#endregion*/

/*#region Meme*/

#meme-container {
  overflow: hidden;
  position: relative;
}

.draggable {
  width: fit-content;
  height: fit-content;
  position: absolute;
}

.draggable.dragging {
  user-select: none;
}

.text-img {
  pointer-events: none;
}

.dragger {
  width: fit-content;
  height: fit-content;
}

.div-for-images, .form-for-text-editing {
  border: 5px solid var(--border-color);
  background-color: var(--text-background-color);
  vertical-align: top;
}

.editor-block {
  margin: 10px auto;
  z-index: 1;
}

#meme-image {
  float: left;
}

/*#endregion*/

/*#region Modal window*/

.modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  background-color: var(--shadow-color);
}

.modal-content {
  position: relative;
  background-color: var(--text-background-color);
  margin: auto;
  padding: 0;
  border: 4px solid var(--border-color);
  width: 50%;
  box-shadow: 0 4px 8px 0 var(--shadow-color),0 6px 20px 0 var(--shadow-color);
  animation-name: animatetop;
  animation-duration: 0.4s
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.close {
  opacity: 0.8;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  opacity: 1;
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  color: var(--text-color);
}

.modal-body {
  padding: 2px 21px 0px 10px;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  gap: 25px;
}
/*#endregion*/

/*#region Images inside modal window*/
.image {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.image img {
  opacity: 0.8;
  cursor: pointer;
  width: 100%;
  aspect-ratio: 1/1;
  border: 4px solid #0b7481;
}

.image img:hover {
  opacity: 1;
}
/*#endregion*/

/*#region Wide window*/
@media screen and (min-aspect-ratio: 13/9)  {
  body {
    margin-left: auto;
    margin-right: auto;
  }
  .div-for-images, .form-for-text-editing, #div_ {
    display: inline-block;
  }
  .cross-btn {
    margin: auto 10px;
    width: 20px;
    height: 20px;
  }
}

@media (hover: hover) {
  #generate-btn:hover {
    background-color: var(--border-color);
    cursor: pointer;
  }
}
/*#endregion*/

/*#region Narrow window*/
@media screen and (max-aspect-ratio: 13/9) {
  body {
    font-size: 40px;
  }
  .cursor {
    display: none;
  }
  .div-for-images, .form-for-text-editing {
    display: block;
  }
  .form-for-text-editing {
    display: inline-block;
    text-align: center;
  }
  .form-for-text-editing form{
    margin: 0 auto;
  }
  #start-buttons {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    top: 25px;
    left: calc(50% - 75px);
    justify-content: center;
  }
  #div_ {
    display: block;
  }
  .page-button {
    margin: 20px;
    width: 350px;
    height: 200px;
    font-size: 50px;
  }
  #upload-b {
    left: -6px;
    top: -76px;
    width: 325px;
    height: 190px;
    border-radius: 30%;
    display: inline-flex;
  }
  #start-buttons {
    position: absolute;
    left: calc(50% - 200px);
  }
  .modal-content {
    width: 90%;
  }
  .image {
    width: 45%;
    padding: 5px;
  }
  .modal-header {
    font-size: 40px;
  }
  .close {
    font-size: 70px;
  }
  #div-for-images {
    touch-action: none;
  }

  .form-content {
    width: 90%;
    padding: 20px;
  }

  #text-generator-form form ul li,
  #text-generator-form form ul li input,
  #text-generator-form form ul li select,
  #text-generator-form form ul li textarea{
    font-size: 40px;
  }

  #next-b, #generate-btn {
    width: 300px;
    height: 100px;
    font-size: 40px;
  }

  #generated-text ul li {
    margin: 20px 0;
  }

  .text-content {
    max-width: calc(100% - 250px);
  }

  .cross-btn {
    margin: auto;
    width: 50px;
    height: 50px;
    font-size: 25px;
  }

  .cross-line {
    height: 70px;
    left: 18px;
  }

  .first-line {
    bottom: 10px;
  }

  .second-line {
    transform: rotate(-45deg);
    bottom: 80px;
  }
}
/*#endregion*/